.container {
  cursor: pointer;
  display: inline-block;

  justify-self: center;

  width: 240px;
  height: 180px;

  .postsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 240px;
    height: 180px;
    background-color: #1f1f1e;

    border-radius: 3px;

    transition: 0.2s;

    .title {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0.1rem 0.4rem;
      font-size: 1rem;
      text-align: center;
      color: var(--text);
    }

    .content {
      width: 100%;

      transition: 0.2s;
      color: var(--text);

      .background {
        position: relative;
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: center;
        background-color: #e84855;

        img {
          width: 100%;
          object-fit: cover;
          height: 140px;
          overflow-x: hidden;
          transition: 0.2s;
        }

        .author {
          position: absolute;
          display: flex;
          align-items: center;
          bottom: -2px;
          left: 0;
          font-weight: 400;
          margin-left: 0.6rem;
          margin-bottom: 0.2rem;
          z-index: 1;
        }

        .date {
          position: absolute;
          bottom: -2px;
          right: 0;
          font-weight: 400;
          margin-bottom: 0.2rem;
          margin-right: 0.6rem;
          z-index: 1;
          display: flex;
          align-items: center;
        }

        .strip {
          position: absolute;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          bottom: 0;
          height: 1.5rem;
          background-color: #361b20;
          filter: opacity(0.5);
        }
      }
    }

    .resume {
      display: none;
    }
  }

  &:hover {
    .postsItem {
      animation: backgroundAnimation 1 0.2s;
      border-bottom: 1px solid #e84855;

      .title {
        display: none;
      }

      .content {
        position: relative;
        height: 100%;
        background-color: #141414;

        .resume {
          display: block;
          margin-top: -2.8rem;
          margin-left: 1rem;
          margin-right: 1rem;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          animation: textHoverEffect 1 0.2s ease-out;
        }
      }

      .background {
        overflow: hidden;

        background: none;
        img {
          overflow: hidden;
          margin-top: 0.5rem;
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }

        .strip {
          display: none;
        }
        .date {
          display: none;
        }
        .author {
          display: none;
        }
      }
    }
    @keyframes backgroundAnimation {
      0% {
        width: 240px;
        height: 180px;
      }

      50% {
        width: 230px;
        height: 190px;
        margin: 10px 10px;
        border: 1px solid #e84855;
      }

      100% {
        width: 240px;
        height: 180px;
      }
    }
  }
}

@media (max-width: 839px) {
  .container {
    img {
      transition: 0;
    }
    .postsItem {
      transition: 0;
      .content {
        transition: 0;
        .background {
          img {
            transition: 0;
          }
        }
      }
    }

    &:hover {
      .postsItem {
        animation: none;
        .content {
          .resume {
            animation: none;
          }
        }
      }
    }
  }
}
