.container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--background);
  height: 100px;
  width: 100%;
  margin-top: 25px;
  border-radius: 4px;
  color: white;

  .background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    overflow-x: hidden;

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      align-items: center;
      background-color: rgba(27, 15, 27, 0.89);
      transform: skew(-30deg);
      margin-left: 30%;
      transition: 0.2s ease-in-out;
    }
    .title {
      font-family: "Inter";
      font-weight: 400;
      max-width: 60%;
      transform: skew(30deg);
      position: relative;
      left: 10%;
      font-size: 1rem;
      word-spacing: 2px;
      color: var(--text);
      transition: 0.2s ease-in-out;
      animation: reverseTextAnimation 1s;
    }
    .info {
      display: none;
    }

    &:hover {
      justify-content: center;
      
      .content {
        width: 101%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        background-color: rgba(27, 15, 27, 0.966);
        transform: skew(0);
        margin-left: 0;
      }
      .title {
        font-family: "Inter";
        transform: skew(0deg);
        margin-top: -1rem;
        font-size: 1rem;
        word-spacing: 2px;
        max-width: 80%;
        animation: textAnimation 1 0.3s ease-in-out;
        animation-fill-mode: forwards;

        left: 0;
      }

      .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 3rem;
        color: #c08cff;
        animation: textAnimation 1 0.6s ease;

        p,
        time {
          display: flex;
          align-items: center;
          gap: 0.3rem;
        }
      }
    }
  }
}

@keyframes containterAnimation {
  50% {
    height: 96px;
    width: 96%;
    margin-top: 29px;
    margin-bottom: 2px;
  }
  100% {
    height: 100px;
    width: 100%;
  }
}

@keyframes textAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes reverseTextAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
